.UserSearch {
  form {
    z-index: 2;
  }
  .searchResults {
    z-index: 2;
    position: absolute;
    top: 50px;
    right: 30px;
    width: 170px;
    padding: 0px;
    padding-left: 0px;
    padding-right: 0px;
  }
  .userSearch-result {
    padding: 5px;
    padding-left: 15px;
    img {
      margin-right: 8px;
    }
    cursor: pointer;
    &:hover {
      background-color: #ececec;
    }
  }
}
